.main
{
    background: url("background.png") no-repeat;
    background-size: 100%;
}
header
{
    display: flex;
    padding-top: 50px;
    padding-right: 2%;
    justify-content: space-between;
}
.logo
{
    color: white;
    font: 600 36px/1.3 "Kodchasan";
    padding-left: 80px;
}
.block__user
{
    margin-top: -1%;
}
.block__user-img
{
    border-radius: 50%;
}
.card
{
    display: flex;
    justify-content: center;
}
.card__block
{
    display: flex;
    flex-direction: column;
    border-radius: 80px;
    background: #FFF;
    width: 40%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.photo__user
{
    border-radius: 80px 80px 0px 0px;
    width: 100%;
    height: 100%;
}
.card__block-info
{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 10%;
}
.card__block-info-text
{
    color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card__block-reaction
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}